@model IEnumerable<Note>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text">Note List</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Note" asp-action="Create" class="btn btn-primary text-nowrap">
                <i class="bi bi-plus-square"></i> &nbsp; Create New Note
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Note Name
                </th>
                <th>
                    Priority
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">
                        @obj.Name
                    </td>
                    <td width="30%">
                        @obj.Priority
                    </td>
                    <td width="10%">
                        <a asp-controller="Note" asp-action="Detail" asp-route-id="@obj.Id"
                            class="btn btn-info mx-2 d-block text-nowrap"><i class="bi bi-chevron-right"></i>&nbsp; Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
